.App {
  font-family: sans-serif;
  text-align: center;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  border-bottom: 2px solid transparent;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}

.nav-bar > .active {
  border-bottom: 2px solid black;
}

.nav-bar a:hover {
  border-bottom: 2px solid black;
}

.lap-container {
  width: 75%;
  margin: 0 auto;
  padding-top: 25px;
}

.single-lap,
.lap-header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  width: 100%;
}

/* Slider Styles */
.slider-container {
  font-family: sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.slider-container > div {
  text-align: center;
}

.slider-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-header h3 {
  flex: 25%;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cacaca;
}

.slider-colon {
  color: black;
}

.slick-center h3 {
  /* color: #3498db; */
  color: black;
}

.slick-slider {
  width: 33%;
}

.center {
  /* padding: 1em;
  margin: 1em; */
}

/* Fixes an issue with the focus being too big */
.number {
  width: 90% !important;
}
