.App {
  font-family: sans-serif;
  text-align: center;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.lap-container {
  width: 75%;
  margin: 0 auto;
  padding-top: 25px;
}

.single-lap,
.lap-header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  width: 100%;
}
